.cabecera {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 100%;
  height: 100vh;
}

.cabecera-bloque {
  grid-column: 1/4;
  grid-row: 1/7;
  background-color: var(--color-grey);
}

.cabecera-contenerdorTexto {
  grid-column: 1/4;
  grid-row: 5/7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: var(--color-grey);
  padding: 24px;
}

.cabecera-contenedoRedes {
  grid-column: 4/7;
  grid-row: 5/7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 24px;
  font-size: 1.1em;
}

.fa-linkedin-in,
.fa-github {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
}

.cabecera-contenedoRedes a {
  text-decoration: none;
  color: var(--color-grey);
  font-weight: bold;
  transition: color 0.5s;
}

.cabecera-contenedoRedes a:hover {
  color: var(--color-green);
}

.cabecera-titulo {
  grid-column: 1/4;
  grid-row: 1/2;
  margin: 0;
  padding: 24px;
  z-index: 1;
  color: white;
}

.cabecera-botonMenu {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  margin: 24px;
  right: 0;
  padding: 4px 7px;
  border-radius: 5px;
  width: min-content;
  height: min-content;
  z-index: 3;
  cursor: pointer;
  background-color: var(--color-grey);
  transition: background-color 0.5s;
}

.cabecera-botonMenu:hover {
  background-color: var(--color-green);
}

.fa-bars {
  color: var(--color-background);
}

.menu {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 0px;
  height: 100vh;
  background-color: var(--color-green);
  opacity: 90%;
  transition: width 0.5s;
}
.menu--desplegar {
  width: calc(168px + 48px);
  display: flex;
}

.menu-lista {
  padding: 88px 24px 0 24px;
  list-style-type: none;
  display: none;
  margin: 0;
}

.menu-lista-desplegar {
  display: block;
}

.menu-item {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  line-height: 1.5em;
  transition: color 0.3s;
}

.menu-item:hover {
  color: var(--color-grey);
}

.contenerdorTexto-nombre,
.contenerdorTexto-apellido {
  color: white;
  margin: 0;
  font-size: 2.3em;
}

.contenerdorTexto-apellido {
  font-weight: normal;
  margin-bottom: 20px;
}

.contenerdorTexto-texto {
  color: var(--color-green);
  margin: 0;
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 5px;
  text-align: end;
}

.cabecera-contenerdorFoto {
  grid-column: 2/6;
  grid-row: 2/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foto {
  object-fit: contain;
  width: 100%;
  border: 15px solid var(--color-background);
}

/* ANIMATION */
.scroll i {
  animation: miAnimacion 1s infinite ease alternate;
}

@keyframes miAnimacion {
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 30%;
  }
}

@media only screen and (min-width: 450px) {
  .foto {
    height: 100%;
    width: auto;
  }
}

@media only screen and (max-width: 750px) {
  .cabecera {
    height: calc(100vh - 50px);
  }

  .contenerdorTexto-nombre,
  .contenerdorTexto-apellido {
    font-size: 1.8em;
  }

  .contenerdorTexto-apellido {
    margin-bottom: 15px;
  }

  .contenerdorTexto-texto {
    font-size: 0.9em;
    margin: 0;
  }

  .cabecera-contenerdorTexto {
    padding: 20px;
  }

  .cabecera-contenedoRedes {
    font-size: 1em;
    padding: 20px;
  }
}

@media only screen and (max-height: 450px) {
  .cabecera-contenerdorTexto {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .foto {
    border: 10px solid var(--color-background);
    height: 90%;
    width: auto;
  }

  .contenerdorTexto-texto {
    display: none;
  }

  .scroll {
    display: none;
  }
  .contenerdorTexto-apellido {
    font-weight: normal;
    margin: 0 0 0 10px;
  }

  .menu-lista-desplegar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 24px;
  }
}
