.Contactame {
  padding: 24px;
  display: flex;

  flex-direction: column;
  text-align: center;
}

.Contactame-titulo {
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 2px solid black;
  text-align: center;
}

.Contactame-contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto {
  padding: 0 24px;
  color: var(--color-green);
}
